@import './main.scss';

// componetns
@import './components/header.scss';
@import './components/sideheader.scss';
@import './components/maincontent.scss';    
@import './components/usersection.scss';
@import './components/resopnsive.scss';
//media queries

@import "./query.scss";                         

// 

img{
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}
