* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-columns: 70px 1.5fr 4fr 3fr;
  height: 100vh;
  font-family: Inter; }

svg:hover {
  cursor: pointer; }

.bold--text {
  font-weight: 500 !important;
  cursor: pointer; }

.mb-5 {
  margin-bottom: 1.8rem; }

.dot {
  height: 4px;
  width: 4px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer; }

.color-dark-orange {
  background-color: #f0894d; }

.color-light-orange {
  background-color: #fce6bd; }

button {
  cursor: pointer; }

.orangerad {
  background-color: orangered !important; }

.green {
  background-color: yellowgreen; }

.mm5 {
  margin-right: -5px; }

.white {
  background-color: #fff; }

.header--icons__wrapper:hover {
  cursor: pointer; }

.maincontent--content__card__heading__left div {
  position: relative;
  z-index: 3; }

.maincontent--content__card__heading__left img {
  position: relative;
  z-index: 2; }

.z-1 {
  z-index: 1 !important; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem; }
  .header img {
    height: 28px;
    width: 28px;
    transform: rotate(60deg);
    position: relative; }
  .header--image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.25rem;
    border-bottom: 1px solid #c5c5c58c;
    width: 100%;
    position: relative; }
    .header--image::after {
      content: "";
      height: 2.4rem;
      width: 2.4rem;
      border-radius: 50%;
      border: 1px solid black;
      position: absolute;
      left: 40%;
      top: -5%; }
  .header--icons {
    display: grid;
    grid-template-rows: repeat(6, 5.8rem);
    width: 100%;
    align-items: center; }
    .header--icons__wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .25s; }
      .header--icons__wrapper__icon {
        height: 1.8rem;
        width: 1.8rem;
        fill: #838282; }
      .header--icons__wrapper:hover {
        background-color: #F2ECE2; }
        .header--icons__wrapper:hover > svg {
          fill: #000000;
          scale: 1.15; }
  .header--questionicon {
    background-color: #111111;
    border-radius: 50%; }
    .header--questionicon svg {
      fill: white;
      height: 2.2em;
      width: 2.2em; }
    .header--questionicon:hover {
      scale: 1.1; }

.sideheader {
  background-color: #f2ece2;
  transition: all 0.8s; }
  .sideheader--header {
    padding: 1.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #c5c5c58c; }
    .sideheader--header h1 {
      font-size: 1.8rem; }
    .sideheader--header p {
      font-weight: 300;
      font-size: 1rem; }
  .sideheader--content {
    overflow-y: hidden;
    padding: 1.8rem; }
    .sideheader--content__item {
      margin: 0.8rem 0; }
      .sideheader--content__item input[type="checkbox"] {
        display: none; }
      .sideheader--content__item__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        user-select: none; }
        .sideheader--content__item__heading svg {
          height: 1.2rem;
          width: 1.2rem;
          transition: transform 0.3s ease; }
        .sideheader--content__item__heading h3 {
          font-weight: 600;
          text-transform: capitalize; }
      .sideheader--content__item__body {
        display: none;
        padding-left: 1rem;
        padding-top: 0.8rem; }
        .sideheader--content__item__body p {
          font-weight: 300;
          padding: 0.5rem;
          text-transform: capitalize; }
      input[type="checkbox"]:checked + .sideheader--content__item__heading + .sideheader--content__item__body {
        display: block; }
      input[type="checkbox"]:checked + .sideheader--content__item__heading svg {
        transform: rotate(90deg); }

.maincontent {
  padding: 1.8rem 2.4rem; }
  .maincontent--heading {
    margin-bottom: 3.6rem; }
    .maincontent--heading h3 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1.2rem; }
    .maincontent--heading__searchbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border: 1px solid #c5c5c58c;
      padding: 0.9rem;
      border-radius: 36px; }
      .maincontent--heading__searchbar svg {
        height: 14px;
        width: 14px;
        fill: #808080e5; }
      .maincontent--heading__searchbar input {
        width: 95%;
        border: none; }
        .maincontent--heading__searchbar input:focus {
          outline: none; }
        .maincontent--heading__searchbar input::placeholder {
          color: #808080e5; }
  .maincontent--content {
    margin-bottom: 1.2rem; }
    .maincontent--content__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      text-transform: capitalize; }
      .maincontent--content__heading h3 {
        font-size: 1.4rem;
        font-weight: 600; }
      .maincontent--content__heading p {
        font-size: 1.2rem;
        color: #f0894d;
        font-weight: 300;
        cursor: pointer; }
    .maincontent--content__cards {
      display: flex;
      justify-content: space-between;
      gap: 3rem; }
    .maincontent--content__card {
      background-color: #fcbea4;
      border-radius: 24px;
      min-height: 28vh;
      max-height: auto;
      display: flex;
      flex-direction: column;
      width: 48%;
      padding: 1.8rem 2.2rem 2rem 2.2rem; }
      .maincontent--content__card__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.8rem; }
        .maincontent--content__card__heading__left {
          display: flex;
          justify-content: center;
          align-items: center; }
          .maincontent--content__card__heading__left div {
            height: 32px;
            width: 32px;
            background-color: black;
            color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            outline: 1px solid #fcbea4;
            z-index: 3; }
        .maincontent--content__card__heading__right {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 6px; }
      .maincontent--content__card img {
        height: 32px;
        width: 32px;
        margin-left: -6px;
        border-radius: 50%;
        object-fit: cover;
        outline: 2px solid #fcbea4; }
      .maincontent--content__card__tittle h2 {
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 1.2rem; }
      .maincontent--content__card__tittle p {
        font-size: 1rem;
        font-weight: 200; }
      .maincontent--content__card__progressbar {
        margin-top: auto; }
        .maincontent--content__card__progressbar__p {
          font-size: 1rem;
          font-weight: 400; }
        .maincontent--content__card__progressbar div {
          width: 100%;
          height: 4.2px;
          background-color: #11111173;
          border-radius: 36px;
          margin: 0.8rem 0; }
          .maincontent--content__card__progressbar div div {
            width: 40%;
            border-radius: 36px; }
  .maincontent--footer h4 {
    font-size: 1.4rem;
    margin-top: 2rem;
    font-weight: 600;
    margin-bottom: 0.8rem; }
  .maincontent--footer__box {
    border: 1px solid #80808075;
    padding: 1.8rem 1.2rem;
    border-radius: 24px; }
    .maincontent--footer__box__outside {
      gap: 5px;
      margin-top: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .maincontent--footer__box__inside {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px; }
      .maincontent--footer__box__inside p {
        font-size: 1rem;
        font-weight: 200; }
      .maincontent--footer__box__inside h5 {
        margin-top: 4px;
        font-size: 1.4rem;
        font-weight: 600; }
      .maincontent--footer__box__inside button {
        padding: 0.5rem 1.4rem;
        border: 1px dashed #f0894d;
        border-radius: 36px;
        background-color: transparent;
        font-family: inter;
        font-size: 1rem; }

.yellow--card {
  background-color: #fce6bd !important; }

.yellow--border {
  outline: 2px solid #fce6bd !important; }

.trans-beg-black--border {
  background-color: #fce6bd !important;
  border: 1px solid black;
  color: black !important; }

.width-75 {
  width: 75% !important; }

.usersection {
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  padding: 1.8rem 2.8rem 1.8rem 2.8rem; }
  .usersection--heading {
    margin-bottom: 3.8rem; }
    .usersection--heading--dots {
      margin-top: 4px;
      display: flex;
      flex-direction: row;
      gap: 5px;
      justify-self: end;
      align-items: center;
      height: 1.8rem;
      margin-bottom: 1.2rem; }
    .usersection--heading--userprofile {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .usersection--heading--userprofile button {
        border: none;
        background-color: #f0894d;
        color: #ffffff;
        padding: 1.2rem 2.4rem;
        border-radius: 36px; }
      .usersection--heading--userprofile--user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px; }
        .usersection--heading--userprofile--user--notify {
          position: relative; }
          .usersection--heading--userprofile--user--notify::after {
            position: absolute;
            content: "";
            background-color: #f0894d;
            height: 4px;
            width: 4px;
            border-radius: 53%;
            left: 60%; }
        .usersection--heading--userprofile--user svg {
          height: 18px;
          width: 18px; }
        .usersection--heading--userprofile--user img {
          height: 30px;
          width: 30px;
          object-fit: cover;
          border-radius: 50%; }
        .usersection--heading--userprofile--user--image {
          display: flex;
          gap: 6px; }
          .usersection--heading--userprofile--user--image div {
            margin-left: 8px; }
            .usersection--heading--userprofile--user--image div p {
              font-size: 1rem;
              font-weight: 300; }
            .usersection--heading--userprofile--user--image div h4 {
              font-size: 1.2rem;
              font-weight: 500; }
  .usersection--userprofiles {
    margin-bottom: 2.4rem; }
    .usersection--userprofiles h3 {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 1.2rem; }
    .usersection--userprofiles__images {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .usersection--userprofiles__images div {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: #f0894d3d;
        border-radius: 50%;
        color: #f0894d; }
      .usersection--userprofiles__images__svg {
        height: 28px !important;
        width: 28px !important;
        background-color: #f0894d1a !important;
        border: 1px dashed #f0894d; }
    .usersection--userprofiles img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover; }
  .usersection--numbers {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    padding: 2.4rem 1.8rem;
    border-radius: 18px; }
    .usersection--numbers p {
      font-size: 1rem;
      font-weight: 200;
      margin-bottom: 0.5rem; }
    .usersection--numbers h3 {
      font-size: 1.4rem;
      font-weight: 600; }
  .usersection--dailytask__heading {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .usersection--dailytask__heading h3 {
      font-size: 1.4rem;
      font-weight: 600; }
    .usersection--dailytask__heading p {
      color: #f0894d;
      font-size: 1.2rem;
      font-size: 300; }
  .usersection--dailytask__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 1.2rem; }
    .usersection--dailytask__grid > * {
      border-radius: 12px; }
    .usersection--dailytask__grid__card {
      box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
      background-color: #f2ece2;
      display: flex;
      flex-direction: column;
      padding: 1.2rem; }
      .usersection--dailytask__grid__card p {
        margin-top: 2.4rem;
        font-size: 1.2rem; }
      .usersection--dailytask__grid__card svg {
        margin-top: auto;
        align-self: end; }
    .usersection--dailytask__grid__card-2 {
      padding: 1.2rem;
      box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px; }
      .usersection--dailytask__grid__card-2__header {
        margin-bottom: 1.2rem;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem; }
        .usersection--dailytask__grid__card-2__header p {
          font-size: 1rem;
          font-weight: 300;
          position: relative; }
        .usersection--dailytask__grid__card-2__header input {
          outline: 1px solid #f0894d;
          height: 10px;
          width: 10px;
          border-radius: 2px;
          appearance: none;
          border: none; }
          .usersection--dailytask__grid__card-2__header input:checked {
            background-color: #f0894d; }
      .usersection--dailytask__grid__card-2--data {
        font-size: 1.2rem; }
    .usersection--dailytask__grid__card-3 {
      padding: 1.2rem;
      box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px; }
      .usersection--dailytask__grid__card-3 svg {
        margin-top: 1rem;
        height: 7rem;
        align-self: start; }
    .usersection--dailytask__grid__card-4 {
      padding: 1.2rem;
      box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
      background-color: #f0894d;
      color: #fff; }
      .usersection--dailytask__grid__card-4 svg {
        align-self: flex-end;
        margin-top: 1rem; }

.checkbox--underarrow {
  height: 10px;
  width: 10px;
  border: 2px;
  background-color: black;
  padding: 0.1rem;
  box-sizing: content-box;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .checkbox--underarrow svg {
    height: 8px;
    width: 8px;
    fill: #fff; }

.svg--graphic {
  z-index: 9;
  position: relative;
  margin-top: -10%; }

.header--menu,
.header--close {
  display: none;
  margin-right: 1.8rem; }

.side-menu {
  display: none; }

.overlay {
  display: none; }

.close-arrow {
  display: none; }

@media (max-width: 814px) {
  .header--questionicon {
    display: none; }
  .side-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #f0894d;
    color: #fff;
    padding: 10px 7px;
    border-radius: 50px 0 0 50px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    font-size: 1.4rem;
    top: 1.5%;
    right: 0;
    animation: popup 0.8s ease 2s 2;
    z-index: 1000; }
    .side-menu svg {
      transform: rotate(90deg);
      transition: all 0.8s;
      margin-right: 4px; }
  .side-menu:hover {
    padding-left: 10px; }
  @keyframes popup {
    50% {
      padding-left: 15px; } }
  #sidemenu:checked ~ .sideheader {
    display: block;
    position: fixed;
    right: 0;
    height: 100%;
    width: 180px;
    z-index: 1001; }
  #sidemenu:checked ~ .side-menu {
    right: 180px; }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    z-index: 10; }
  #sidemenu:checked ~ .overlay {
    display: block; }
  #sidemenu:checked ~ .side-menu svg {
    transform: rotate(270deg); } }

.usersection--heading--userprofile--user--downarrow {
  background-color: #f0894d33;
  height: 10px !important;
  width: 10px !important;
  fill: #f0894d;
  border-radius: 50%;
  box-sizing: content-box;
  padding: 3px; }

.bg {
  display: flex;
  height: 30%;
  width: 30%; }

.mlauto {
  margin-top: 5px;
  height: 40%;
  width: 40%;
  margin-left: auto !important; }

@media (min-width: 1400px) {
  html {
    font-size: 75%; }
  .sideheader--header {
    padding-bottom: 1.2rem; }
  .maincontent--content__card__tittle {
    margin-bottom: 1.8rem; }
  .maincontent--heading__searchbar {
    justify-content: start; }
    .maincontent--heading__searchbar input {
      margin-left: 1rem; } }

@media (max-width: 1131px) {
  html {
    font-size: 50%; }
  .sideheader--header {
    padding-bottom: 2.3rem; }
  .header--icons__wrapper__icon {
    scale: 1.2; }
  .usersection--dailytask__grid p {
    font-size: 1.4rem; }
  .sideheader--content label {
    font-size: 1.2rem; }
  .sideheader--content p {
    font-size: 1.2rem; }
  .maincontent--footer__box__left h5 {
    font-size: 1.4rem; }
  .maincontent--footer__box__right {
    padding: 1.4rem 1rem; }
  .maincontent--content__card__tittle p {
    font-size: 1.2rem; }
  .usersection--numbers p {
    font-size: 1.2rem; }
  .maincontent--footer__box__left p {
    font-size: 1.2rem; } }

@media (max-width: 970px) {
  .usersection {
    margin-bottom: 30%; }
  .header--icons__wrapper:hover {
    background-color: transparent; }
  .header--icons {
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    display: flex;
    position: fixed;
    bottom: 5%;
    margin: 0 auto;
    border-radius: 18px;
    width: 90%;
    background: #f0894d2d;
    backdrop-filter: blur(4px);
    padding: 15px 22px;
    left: 50%;
    transform: translate(-50%); }
  .header--icons__wrapper svg {
    fill: black; }
  body {
    grid-template-columns: 1.5fr 4fr 3fr;
    grid-template-rows: 60px auto;
    grid-template-areas: "h h h" "s m u"; }
  .header {
    border-bottom: 1px solid #f0894d2d;
    grid-area: h;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.8rem 1rem 0; }
    .header--image {
      justify-content: start;
      padding: 1.8rem;
      width: 80px;
      border-bottom: none;
      padding-top: 1rem; }
      .header--image::after {
        top: 1rem;
        left: 3rem; }
  .sideheader {
    grid-area: s; }
  .maincontent {
    grid-area: m; }
  .usersection {
    grid-area: u; }
  .usersection--dailytask p {
    font-size: 1.2rem; } }

@media (max-width: 912px) {
  html {
    font-size: 39.25%; }
  .header--image::after {
    height: 24px;
    width: 24px; } }

@media (max-width: 814px) {
  .usersection--dailytask__grid p {
    font-size: 1.4rem; }
  html {
    font-size: 52%; }
  body {
    grid-template-columns: 22rem auto auto;
    grid-template-areas: "h h h" "m m m" "u u u"; }
  .sideheader {
    display: none; }
  .usersection--dailytask__grid__card-3 svg {
    height: 10rem;
    margin-top: 5rem; } }

@media (max-width: 634px) {
  .maincontent--content__card {
    height: 10vh; }
  .usersection--heading--userprofile button {
    padding: 0.7rem 0.5rem;
    font-size: 1.4rem; }
  .maincontent--footer__box__left {
    width: 40%; }
    .maincontent--footer__box__left p {
      font-size: 1rem; }
    .maincontent--footer__box__left h5 {
      font-size: 1.2rem; }
  body {
    grid-template-columns: 18rem auto auto; }
  .header--icons__wrapper {
    margin: 0 1rem; }
  .maincontent--content__cards {
    display: flex;
    flex-direction: column; }
  .maincontent--content__card {
    width: 100%; }
  .usersection--dailytask__grid__card-4 svg {
    margin-top: 1rem;
    width: 100%; }
  .usersection--dailytask__grid__card-3 svg {
    height: 40px;
    margin-top: 3rem; } }

@media (min-width: 1080px) and (max-width: 1200px) {
  .maincontent--content__card {
    max-height: 280px; } }

img {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1; }
