.usersection{
   box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    padding: 1.8rem 2.8rem 1.8rem 2.8rem;

   &--heading{
        margin-bottom:3.8rem;
   

    &--dots{
        margin-top: 4px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-self: end;
        align-items: center;
        height: 1.8rem;
        margin-bottom: 1.2rem;
    }

    &--userprofile{
        display: flex;  
        justify-content: space-between;
        align-items: center;

        & button{
            border: none;
            background-color: #F0894D;
            color: #ffffff;
            padding: 1.2rem 2.4rem; 
            border-radius: 36px;
        }
        &--user{
            display: flex;
            justify-content: space-between; 
            align-items: center;    
            gap:24px;

            &--notify{
                position: relative;
                &::after{
                    position: absolute;
                    content: "";
                    background-color: #F0894D;
                    height: 4px;
                    width: 4px;
                    border-radius: 53%;
                    left:60%
                }
            }
            & svg{
                height: 18px;
                width: 18px;

            }
            & img{  
                height: 30px;
                width: 30px;
                object-fit: cover;
                border-radius: 50%; 

            }

            &--image{   
                display: flex;      
                gap:6px;

                & div{
                    margin-left: 8px;
                    & p{
                        font-size:1rem;
                        font-weight: 300;
                    }   
                    & h4{
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                }
            }
            &--downarrow{
                background-color: #fcbea433;
                border-radius: 50%;
                border: 1px solid #fcbea49a;
                padding: .3rem;
                & svg{
                    fill: #F0894D;
                    height: 8px;    
                    width: 8px;
                }
            }
        }
    }
   }

   &--userprofiles{
    margin-bottom: 2.4rem;
    & h3{
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
    }
    &__images{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & div{
            height: 40px;   
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 500;
            background-color: #f0894d3d;
            border-radius: 50%;
            color: #F0894D;
        }

        &__svg{
           height: 28px !important;
           width: 28px !important;
           background-color: #f0894d1a  !important;
           border: 1px dashed #F0894D;  
        }
    }

    & img{  
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
   }

   &--numbers{
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    padding: 2.4rem 1.8rem;
    border-radius: 18px;

    & p{
        font-size: 1rem;
        font-weight: 200;
        margin-bottom: .5rem;
    }
    & h3{
        font-size: 1.4rem;
        font-weight: 600;
    }
   }   
   
   &--dailytask{

    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h3{
            font-size: 1.4rem;
            font-weight: 600;
        }
        & p{
            color: #F0894D;
            font-size: 1.2rem;
            font-size: 300;
        }


    }

    &__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        gap: 24px;
        margin-top: 1.2rem;

        & > *{
            border-radius: 12px;
        }
        &__card{
            box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
            background-color: #F2ECE2;
            display: flex;
            flex-direction: column;
            padding: 1.2rem;
            & p{    
                margin-top: 2.4rem;
                font-size: 1.2rem;
            }
            & svg{
                margin-top: auto;
                align-self: end;
            }
        }
        &__card-2{
            padding: 1.2rem;
            box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;


         
            &__header{
                margin-bottom: 1.2rem;
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 1rem;
                & p{
                    font-size: 1rem;
                    font-weight: 300;
                    position:relative;
                }

                & input{
                    outline: 1px solid #F0894D; 
                    appearance: none;
                    height: 10px;
                    width: 10px;
                    border-radius: 2px;
                }   
            }
            &--data{
                font-size: 1.2rem;
            }
        }
        &__card-3{
            padding: 1.2rem;
            box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
            & svg{
                margin-top: 1rem;
                height: 7rem;
                align-self:start;
               
            }
        }
        &__card-4{
            padding: 1.2rem;
            box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
            background-color: #F0894D;
            color:#fff;
          
            & svg{
                align-self: flex-end;
                margin-top: 1rem;
                
                
            }
        }
    }
   }
}
.checkbox--underarrow{
    height: 10px;
    width: 10px;
    border: 2px;
    background-color: black;
    padding: .1rem;
box-sizing: content-box;
border-radius: 2px;
display: flex;
align-items: center;
justify-content: center;
    & svg{
        height: 8px;
        width: 8px;
        fill: #fff;
    }
}
.svg--graphic{
    z-index: 9;
    position: relative; 
    margin-top: -10%;
}
.bg{
 
}